{% extends "/base.twig" %}
{% block title %}Confirmation
{% endblock %}

{% block content %}
	<div class="container col-lg-8">
		<h1>{{ post.title }}</h1>
		<div class="post">
			{{ post.content}}
		</div>
		<div class="article-end">
			{% for user in users %}
				{%if user.id == post.author_id %}
					<div class="article-author">{{ user.username }}</div>
				{% endif %}
			{% endfor %}
			<div class="article-date">{{ post.creation_date | date('d/m/Y') }}</div>
		</div>
	</div>
{% endblock %}
