{% extends "/base.twig" %}
{% block title %}Nouvel utilisateur{% endblock %}

{% block content %}
    <div class="container col-lg-8">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateur Ajouté</h5>
                        <p class="card-text">L'utilisateur a été ajouté avec succès.</p>
                        <a href="{{ base_url }}admin" class="btn btn-primary">Retour à l'administration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}