{% extends "/base.twig" %}
{% block title %}Mise a jour d'un article{% endblock %}

{% block content %}
    <div class="main-home"/>
        <div class="container">
            <h1>Bienvenue chez Flow</h1>
            <hr>
            <div class="">
                <h3>Configuration à effectuées</h3>
                <ul>
                    <li>
                        <p>Se rendre dans le fichier 'app\config\Config.php' afin de rensigner '$base_url' qui correspond au dossier racine de votre site</p>    
                    </li>
                    <li>
                        <p>Créer une base de données</p>    
                    </li>
                    <li>
                        <p>Se rendre dans le fichier 'app\config\database.php' afin de renseigner les informations de connexion à la base de données</p>    
                    </li>
                </ul>
            </div>
            <hr>
            <div class="">
                <image class="img-go" src="public/img/go.png"></image>
            </div>
        </div>
    </div>
{% endblock %}